<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title> | The Movie TrackingAdmin Page</title>
    <link rel="icon" th:src="@{/images/Favicon_1.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <form th:action="@{/user/movies}" method="get">
                <button class="btn btn-md btn-danger btn-block" name="registration"
                        type="Submit">Explore movies
                </button>
            </form>
            <div class="panel-body">
                <img th:src="@{/images/logotype_wb.png}" class="img-responsive center-block"
                     th:height="400" th:width="400" alt="Beer"/>
            </div>
            <p class="admin-message-text text-center" th:utext="${userMessage}"></p>
            <div class="panel-body">
                <table border="1" class="table table-striped">
                    <tr class="border_bottom">
                        <td><b>Poster</b></td>
                        <td><b>Name</b></td>
                        <td><b>Adult</b></td>
                        <td><b>Genres Ids</b></td>
                        <td><b>Overview</b></td>
                    </tr>
                    <tr th:each="movie: ${movies}" class="border_bottom">
                        <td><img th:src="${pathToImage}+${movie.posterPath}" th:height="200" th:width="100" alt="Poster Path"/></td>
                        <td th:text="${movie.originalTitle}"/>
                        <td th:text="${movie.adult}"/>
                        <td th:text="${movie.genreIds.toString()}"/>
                        <td th:text="${movie.overview}"/>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>
</body>
</html>