<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome | The Movie Tracking</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <img th:src="@{/images/logotype_wb.png}" class="img-responsive center-block"/>

    <br>
    <form th:action="@{/login}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Log In</button>
    </form>
    <br>
    <form th:action="@{/registration}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Sign In</button>
    </form>

    <h3>Simple API for tracking movies with favorite actors. For movie and actor information using https:// www.themoviedb.org/documentation/api
        API works with next requests:</h3>

</div>
</body>
</html>